trunk/v2/src/mbunit/MbUnit.Framework/Core/Reports/mbunit-report.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="report-result">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="counter">
          <xs:complexType>
            <xs:attribute name="duration" type="xs:decimal" use="required" />
            <xs:attribute name="run-count" type="xs:unsignedByte" use="required" />
            <xs:attribute name="success-count" type="xs:unsignedByte" use="required" />
            <xs:attribute name="failure-count" type="xs:unsignedByte" use="required" />
            <xs:attribute name="ignore-count" type="xs:unsignedByte" use="required" />
            <xs:attribute name="skip-count" type="xs:unsignedByte" use="required" />
            <xs:attribute name="assert-count" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="assemblies">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="assembly">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="counter">
                      <xs:complexType>
                        <xs:attribute name="duration" type="xs:decimal" use="required" />
                        <xs:attribute name="run-count" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="success-count" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="failure-count" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="ignore-count" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="skip-count" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="assert-count" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="version">
                      <xs:complexType>
                        <xs:attribute name="major" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="minor" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="build" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="revision" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="namespaces">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="namespace">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="counter">
                                  <xs:complexType>
                                    <xs:attribute name="duration" type="xs:decimal" use="required" />
                                    <xs:attribute name="run-count" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="success-count" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="failure-count" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="ignore-count" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="skip-count" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="assert-count" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="namespaces" />
                                <xs:element name="fixtures">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="fixture">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="counter">
                                              <xs:complexType>
                                                <xs:attribute name="duration" type="xs:decimal" use="required" />
                                                <xs:attribute name="run-count" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="success-count" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="failure-count" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="ignore-count" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="skip-count" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="assert-count" type="xs:unsignedByte" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="description" />
                                            <xs:element name="runs">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="run">
                                                    <xs:complexType mixed="true">
                                                      <xs:sequence>
                                                        <xs:element name="invokers" />
                                                        <xs:element name="warnings" />
                                                        <xs:element name="asserts" />
                                                        <xs:element name="Description" />
                                                        <xs:element name="console-out" />
                                                        <xs:element name="console-error" />
                                                        <xs:element minOccurs="0" name="exception">
                                                          <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                              <xs:element name="properties">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element maxOccurs="unbounded" name="property">
                                                                      <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                        <xs:attribute name="value" type="xs:string" use="required" />
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="message" />
                                                              <xs:element name="source" type="xs:string" />
                                                              <xs:element name="stack-trace" type="xs:string" />
                                                            </xs:sequence>
                                                            <xs:attribute name="type" type="xs:string" use="required" />
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                      <xs:attribute name="name" type="xs:string" use="required" />
                                                      <xs:attribute name="result" type="xs:string" use="required" />
                                                      <xs:attribute name="assert-count" type="xs:unsignedByte" use="required" />
                                                      <xs:attribute name="duration" type="xs:decimal" use="required" />
                                                      <xs:attribute name="memory" type="xs:unsignedShort" use="required" />
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                          <xs:attribute name="type" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="location" type="xs:string" use="required" />
                  <xs:attribute name="full-name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="date" type="xs:dateTime" use="required" />
    </xs:complexType>
  </xs:element>
</xsd:schema>